In [1]:
print("hello world")

hello world

In [2]:
print(1)

1

In [4]:
type("data collection")

str

data collection.upper()

In [5]:
data collection.lower()

SyntaxError: invalid syntax (1714859260.py, line 1)

In [6]:
"data collection".upper()

'DATA COLLECTION'

In [7]:
"data collection".title

In [8]:
"data collection".title()

'Data Collection'

In [9]:

list=[india, optional, canada, assam, china]

NameError: name 'india' is not defined

In [11]:
"data collection".count('l')

2

In [ ]:
"data collection".count('b')

In [15]:
k="data collection".count('l')+"data collection".count('a')
print(k)

4

In [16]:
"data collection".count('l')

2

In [17]:
"data collection".replace('l', 'i')

'data coiiection'

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
data=np.array([[1,4],[2,4],[3,6]])

In [8]:
data

array([[1, 4],
       [2, 4],
       [3, 6]])

In [10]:
pd.DataFrame(data)

   0  1
0  1  4
1  2  4
2  3  6

In [16]:
df=pd.DataFrame(data, index=['R1', 'R2', 'R3'], columns=['C1', 'C2'])

In [17]:
df

    C1  C2
R1   1   4
R2   2   4
R3   3   6

In [44]:
states=['kar', 'telen', 'goa']
popn=[396,297,219]

In [45]:
dict_states= {'States':states, 'population':popn}

In [46]:
states

['kar', 'telen', 'goa']

In [47]:
popn

[396, 297, 219]

In [48]:
dict_states

{'States': ['kar', 'telen', 'goa'], 'population': [396, 297, 219]}

In [49]:
pd.DataFrame(dict_states)

  States  population
0    kar         396
1  telen         297
2    goa         219

In [50]:
df_dict=pd.DataFrame(dict_states)

In [51]:
df_dict

  States  population
0    kar         396
1  telen         297
2    goa         219

In [53]:
df_dict=pd.DataFrame(dict_states, index=['R1','R2','R3'])

In [54]:
df_dict

   States  population
R1    kar         396
R2  telen         297
R3    goa         219

In [7]:
df_exams=pd.read_csv('Student_performance_data.csv')

In [6]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [7]:
df_exams(5)

TypeError: 'DataFrame' object is not callable

In [8]:
df_exams(head)

NameError: name 'head' is not defined

In [9]:
df_exams.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [10]:
df_exams.tail()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [11]:
df_exams.head(10)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
5,1006,18,0,0,1,8.191219,0,0,1,1,0,0,0,3.084184,1.0
6,1007,15,0,1,1,15.601680,10,0,3,0,1,0,0,2.748237,2.0
7,1008,15,1,1,4,15.424496,22,1,1,1,0,0,0,1.360143,4.0
8,1009,17,0,0,0,4.562008,1,0,2,0,1,0,1,2.896819,2.0
9,1010,16,1,0,1,18.444466,0,0,3,1,0,0,0,3.573474,0.0

In [12]:
df_exams.tail(25)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
2367,3368,15,1,3,1,9.381207,18,0,3,0,0,1,0,1.454723,1.0
2368,3369,15,0,0,4,6.682728,3,0,2,0,0,1,1,3.158592,1.0
2369,3370,16,0,3,3,2.147222,19,0,1,0,0,0,1,1.067411,3.0
2370,3371,18,1,2,1,2.912575,25,0,1,0,1,0,1,0.569420,4.0
2371,3372,18,1,0,3,0.668760,8,0,2,0,0,0,1,1.934762,3.0
2372,3373,18,0,1,2,9.404982,15,0,3,0,0,0,0,1.849104,1.0
2373,3374,18,0,3,2,19.088954,25,0,2,0,0,0,0,0.825020,1.0
2374,3375,16,0,2,1,2.313504,5,1,3,1,0,0,0,2.913898,0.0
2375,3376,18,0,0,2,18.925290,24,0,1,1,0,1,1,1.164539,0.0
2376,3377,17,1,2,2,14.667230,3,0,0,1,0,0,0,2.928219,1.0
2377,3378,18,0,0,2,12.749976,8,1,0,1,1,0,0,2.652355,2.0
2378,3379,15,1,0,2,12.905555,26,0,2,0,0,1,1,0.709353,3.0
2379,3380,18,1,0,2,16.534553,12,0,3,0,0,0,0,2.509491,1.0
2380,3381,16,1,0,2,2.138397,8,0,1,1,1,0,0,1.979379,1.0
2381,3382,15,0,2,0,10.095086,5,0,3,0,0,0,0,2.956255,0.0
2382,3383,16,0,0,3,13.941823,20,0,2,0,0,0,0,1.191929,3.0
2383,3384,16,1,2,2,11.736409,18,1,4,0,0,0,0,1.810038,3.0
2384,3385,15,1,0,1,16.655581,13,1,3,0,1,0,0,2.539113,4.0
2385,3386,16,1,0,1,1.445434,20,0,3,1,1,0,0,1.395631,1.0
2386,3387,16,0,0,2,13.814021,14,0,2,0,0,0,0,2.000084,4.0
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [15]:
df_exams.shape

(2392, 15)

In [11]:
pd.set_option('display.max_rows',1000)

In [12]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [23]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [22]:
-exams

NameError: name 'exams' is not defined

In [2]:
df_exams.columns

NameError: name 'df_exams' is not defined

In [26]:
df_exams.shape

(2392, 15)

In [27]:
df_exams.index

RangeIndex(start=0, stop=2392, step=1)

In [28]:
df_exams.dtypes

StudentID              int64
Age                    int64
Gender                 int64
Ethnicity              int64
ParentalEducation      int64
StudyTimeWeekly      float64
Absences               int64
Tutoring               int64
ParentalSupport        int64
Extracurricular        int64
Sports                 int64
Music                  int64
Volunteering           int64
GPA                  float64
GradeClass           float64
dtype: object

In [29]:
df_exams.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [30]:
df_exmas.info()

NameError: name 'df_exmas' is not defined

In [31]:
df_exmas.info()

NameError: name 'df_exmas' is not defined

In [32]:
df_exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [33]:
df_exams.describe()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In [34]:
len(df_exams)

2392

In [35]:
max(df_exams)

'Volunteering'

In [36]:
min(df_exams)

'Absences'

In [18]:
df_exams.max()

StudentID            3392.000000
Age                    18.000000
Gender                  1.000000
Ethnicity               3.000000
ParentalEducation       4.000000
StudyTimeWeekly        19.978094
Absences               29.000000
Tutoring                1.000000
ParentalSupport         4.000000
Extracurricular         1.000000
Sports                  1.000000
Music                   1.000000
Volunteering            1.000000
GPA                     4.000000
GradeClass              4.000000
dtype: float64

In [20]:
max(df_exams)

'Volunteering'

In [21]:

max(df_exams.index)

2391

In [40]:
min(df_exams.index)

0

In [22]:
type(df_exams.index)

pandas.core.indexes.range.RangeIndex

In [3]:
df_exams.type()

NameError: name 'df_exams' is not defined

In [ ]:
df_exams.type

In [1]:
type(df_exams)

NameError: name 'df_exams' is not defined

In [9]:
df_exams.shape

(2392, 15)

In [12]:
df_exams.index

RangeIndex(start=0, stop=2392, step=1)

In [15]:
len(df_exams)

2392

In [17]:
max(df_exams.index)

2391

In [20]:
df_exams['StudentID']

0       1001
1       1002
2       1003
3       1004
4       1005
        ...
2387    3388
2388    3389
2389    3390
2390    3391
2391    3392
Name: StudentID, Length: 2392, dtype: int64

In [14]:
type(df_exams)

pandas.core.frame.DataFrame

In [21]:
type(df_exams['StudentID'])

pandas.core.series.Series

In [22]:
df_exams[['StudentID']]

      StudentID
0          1001
1          1002
2          1003
3          1004
4          1005
...         ...
2387       3388
2388       3389
2389       3390
2390       3391
2391       3392

[2392 rows x 1 columns]

In [23]:
type(df_exams[['StudentID']])

pandas.core.frame.DataFrame

In [24]:
df_exams.StudentID

0       1001
1       1002
2       1003
3       1004
4       1005
        ...
2387    3388
2388    3389
2389    3390
2390    3391
2391    3392
Name: StudentID, Length: 2392, dtype: int64

In [25]:
type(df_exams.StudentID)

pandas.core.series.Series

In [28]:
df_exams['StudentID']

0       1001
1       1002
2       1003
3       1004
4       1005
        ...
2387    3388
2388    3389
2389    3390
2390    3391
2391    3392
Name: StudentID, Length: 2392, dtype: int64

In [27]:
type(df_exams['StudentID'])

pandas.core.series.Series

In [30]:
df_exams['GPA1']=7

In [31]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,GPA1
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,7
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,7
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,7
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,7
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0,7
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0,7
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0,7
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0,7
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0,7

In [32]:
import numpy as np

In [35]:
np.arange(0,2392)

array([   0,    1,    2, ..., 2389, 2390, 2391])

In [36]:
GPA2=np.arange(0,2392)

In [37]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,GPA1
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,7
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,7
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,7
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,7
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0,7
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0,7
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0,7
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0,7
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0,7

In [38]:
df_exams['GPA2']=GPA2

In [39]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,GPA1,GPA2
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,7,0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,7,1
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,7,2
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,7,3
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0,7,2387
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0,7,2388
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0,7,2389
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0,7,2390
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0,7,2391

In [42]:
df_exams['new']=GPA2

In [43]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,GPA1,GPA2,new
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,7,0,0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,7,1,1
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,7,2,2
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,7,3,3
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,7,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0,7,2387,2387
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0,7,2388,2388
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0,7,2389,2389
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0,7,2390,2390
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0,7,2391,2391

In [44]:
np.random.randint(1,10,size=2392)

array([6, 5, 4, ..., 9, 3, 2])

In [45]:
GPA3=np.random.randint(1,10,size=2392)

In [46]:
len(GPA3)

2392

In [47]:
min(GPA3)

1

In [48]:
max(GPA3)

9

In [49]:
df_exams['GPA3']=GPA3

In [50]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,GPA1,GPA2,new,GPA3
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,7,0,0,5
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,7,1,1,1
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,7,2,2,8
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,7,3,3,8
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,7,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0,7,2387,2387,3
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0,7,2388,2388,6
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0,7,2389,2389,4
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0,7,2390,2390,3
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0,7,2391,2391,2

In [53]:
GPA4=np.random.uniform(1,10,2392)

In [54]:
df_exams['GPA4']=GPA4

In [56]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,GPA1,GPA2,new,GPA3,GPA4
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,7,0,0,5,9.161663
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,7,1,1,1,2.152242
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,7,2,2,8,5.024316
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,7,3,3,8,3.734964
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,7,4,4,3,2.022508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0,7,2387,2387,3,4.352382
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0,7,2388,2388,6,8.611757
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0,7,2389,2389,4,4.930699
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0,7,2390,2390,3,4.445133
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0,7,2391,2391,2,7.067473

In [59]:
df_exams.GPA4

0       9.161663
1       2.152242
2       5.024316
3       3.734964
4       2.022508
          ...
2387    4.352382
2388    8.611757
2389    4.930699
2390    4.445133
2391    7.067473
Name: GPA4, Length: 2392, dtype: float64

In [60]:
type(df_exams.GPA4)

pandas.core.series.Series

In [61]:
df_exams['GPA4']

0       9.161663
1       2.152242
2       5.024316
3       3.734964
4       2.022508
          ...
2387    4.352382
2388    8.611757
2389    4.930699
2390    4.445133
2391    7.067473
Name: GPA4, Length: 2392, dtype: float64

In [62]:
type(df_exams['GPA4'])

pandas.core.series.Series

In [63]:
df_exams[['GPA3', 'GPA4']]

      GPA3      GPA4
0        5  9.161663
1        1  2.152242
2        8  5.024316
3        8  3.734964
4        3  2.022508
...    ...       ...
2387     3  4.352382
2388     6  8.611757
2389     4  4.930699
2390     3  4.445133
2391     2  7.067473

[2392 rows x 2 columns]

In [65]:
type(df_exams[['GPA3', 'GPA4']])

pandas.core.frame.DataFrame

In [74]:
GPA3=np.random.randint(1,10,size=2392)

In [75]:
GPA4=np.random.randint(1,10,size=2392)

In [76]:
series1=pd.Series(GPA3,index=np.arange(0,2392))

In [77]:
series2=pd.Series(GPA4, index=np.arange(0,2392))

In [88]:
df_exams.assign(GPA3=series1, GPA4=series2)

,StudentID,test,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,...,Volunteering,GPA,GradeClass,GPA1,GPA2,new,GPA3,GPA4,series1,series2
0,1001,5,17,1,0,2,19.833723,7,1,2,...,0,2.929196,2.0,7,0,0,5,9,4,6
1,1002,3,18,0,0,1,15.408756,0,0,1,...,0,3.042915,1.0,7,1,1,3,7,4,3
2,1003,5,15,0,2,3,4.210570,26,0,2,...,0,0.112602,4.0,7,2,2,5,3,1,7
3,1004,2,17,1,0,3,10.028829,14,0,3,...,0,2.054218,3.0,7,3,3,2,5,3,8
4,1005,2,17,1,0,2,4.672495,17,1,3,...,0,1.288061,4.0,7,4,4,2,5,3,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,7,18,1,0,3,10.680555,2,0,4,...,0,3.455509,0.0,7,2387,2387,7,2,8,9
2388,3389,8,17,0,0,1,7.583217,4,1,4,...,0,3.279150,4.0,7,2388,2388,8,8,6,6
2389,3390,3,16,1,0,2,6.805500,20,0,2,...,1,1.142333,2.0,7,2389,2389,3,2,8,8
2390,3391,3,16,1,1,0,12.416653,17,0,2,...,0,1.803297,1.0,7,2390,2390,3,9,9,2
2391,3392,7,16,1,0,2,17.819907,13,0,2,...,1,2.140014,1.0,7,2391,2391,7,3,8,1

In [81]:
df_exams=df_exams.assign(GPA3=series1, GPA4=series2)

In [82]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,...,Volunteering,GPA,GradeClass,GPA1,GPA2,new,GPA3,GPA4,series1,series2
0,1001,17,1,0,2,19.833723,7,1,2,0,...,0,2.929196,2.0,7,0,0,5,9,4,6
1,1002,18,0,0,1,15.408756,0,0,1,0,...,0,3.042915,1.0,7,1,1,3,7,4,3
2,1003,15,0,2,3,4.210570,26,0,2,0,...,0,0.112602,4.0,7,2,2,5,3,1,7
3,1004,17,1,0,3,10.028829,14,0,3,1,...,0,2.054218,3.0,7,3,3,2,5,3,8
4,1005,17,1,0,2,4.672495,17,1,3,0,...,0,1.288061,4.0,7,4,4,2,5,3,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,...,0,3.455509,0.0,7,2387,2387,7,2,8,9
2388,3389,17,0,0,1,7.583217,4,1,4,0,...,0,3.279150,4.0,7,2388,2388,8,8,6,6
2389,3390,16,1,0,2,6.805500,20,0,2,0,...,1,1.142333,2.0,7,2389,2389,3,2,8,8
2390,3391,16,1,1,0,12.416653,17,0,2,0,...,0,1.803297,1.0,7,2390,2390,3,9,9,2
2391,3392,16,1,0,2,17.819907,13,0,2,0,...,1,2.140014,1.0,7,2391,2391,7,3,8,1

In [86]:
df_exams.insert(1,'test',series1)

In [87]:
df_exams

,StudentID,test,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,...,Volunteering,GPA,GradeClass,GPA1,GPA2,new,GPA3,GPA4,series1,series2
0,1001,5,17,1,0,2,19.833723,7,1,2,...,0,2.929196,2.0,7,0,0,5,9,4,6
1,1002,3,18,0,0,1,15.408756,0,0,1,...,0,3.042915,1.0,7,1,1,3,7,4,3
2,1003,5,15,0,2,3,4.210570,26,0,2,...,0,0.112602,4.0,7,2,2,5,3,1,7
3,1004,2,17,1,0,3,10.028829,14,0,3,...,0,2.054218,3.0,7,3,3,2,5,3,8
4,1005,2,17,1,0,2,4.672495,17,1,3,...,0,1.288061,4.0,7,4,4,2,5,3,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,7,18,1,0,3,10.680555,2,0,4,...,0,3.455509,0.0,7,2387,2387,7,2,8,9
2388,3389,8,17,0,0,1,7.583217,4,1,4,...,0,3.279150,4.0,7,2388,2388,8,8,6,6
2389,3390,3,16,1,0,2,6.805500,20,0,2,...,1,1.142333,2.0,7,2389,2389,3,2,8,8
2390,3391,3,16,1,1,0,12.416653,17,0,2,...,0,1.803297,1.0,7,2390,2390,3,9,9,2
2391,3392,7,16,1,0,2,17.819907,13,0,2,...,1,2.140014,1.0,7,2391,2391,7,3,8,1

In [90]:
df_exams['average']=(df_exams['GPA2']+df_exams['GPA3']+df_exams['GPA4'])/3

In [91]:
df_exams

,StudentID,test,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,...,GPA,GradeClass,GPA1,GPA2,new,GPA3,GPA4,series1,series2,average
0,1001,5,17,1,0,2,19.833723,7,1,2,...,2.929196,2.0,7,0,0,5,9,4,6,4.666667
1,1002,3,18,0,0,1,15.408756,0,0,1,...,3.042915,1.0,7,1,1,3,7,4,3,3.666667
2,1003,5,15,0,2,3,4.210570,26,0,2,...,0.112602,4.0,7,2,2,5,3,1,7,3.333333
3,1004,2,17,1,0,3,10.028829,14,0,3,...,2.054218,3.0,7,3,3,2,5,3,8,3.333333
4,1005,2,17,1,0,2,4.672495,17,1,3,...,1.288061,4.0,7,4,4,2,5,3,8,3.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,7,18,1,0,3,10.680555,2,0,4,...,3.455509,0.0,7,2387,2387,7,2,8,9,798.666667
2388,3389,8,17,0,0,1,7.583217,4,1,4,...,3.279150,4.0,7,2388,2388,8,8,6,6,801.333333
2389,3390,3,16,1,0,2,6.805500,20,0,2,...,1.142333,2.0,7,2389,2389,3,2,8,8,798.000000
2390,3391,3,16,1,1,0,12.416653,17,0,2,...,1.803297,1.0,7,2390,2390,3,9,9,2,800.666667
2391,3392,7,16,1,0,2,17.819907,13,0,2,...,2.140014,1.0,7,2391,2391,7,3,8,1,800.333333

In [7]:
import pyodide_http

ModuleNotFoundError: No module named 'pyodide_http'

In [ ]:
pyodide_https.patch_all()

In [1]:
import pandas as pd

In [2]:
df_p21=pd.read_csv('E0.csv')
# https://football-data.co.uk/mmz4281/2122/E0.csv

In [20]:
import pandas as pd

In [3]:
df_p21.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

In [4]:
df_exams=pd.read_csv('Student_performance_data.csv')

In [5]:
df_exams

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [23]:
df_p21=pd.read_csv('E0.csv')
df_p21.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

In [25]:
df_p21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,E0,26/10/2025,14:00,Arsenal,Crystal Palace,1,0,H,1,0,...,1.88,1.98,1.91,2.01,1.88,2.08,1.79,2.00,1.91,2.07
86,E0,26/10/2025,14:00,Aston Villa,Man City,1,0,H,1,0,...,2.00,1.85,2.03,1.89,2.06,1.91,1.98,1.79,2.11,1.89
87,E0,26/10/2025,14:00,Bournemouth,Nott'm Forest,2,0,H,2,0,...,2.00,1.85,2.03,1.89,2.00,1.90,1.92,1.84,2.04,1.95
88,E0,26/10/2025,14:00,Wolves,Burnley,2,3,A,2,2,...,1.93,1.93,1.94,1.98,1.93,1.93,1.88,1.88,2.01,1.98
89,E0,26/10/2025,16:30,Everton,Tottenham,0,3,A,0,2,...,1.85,2.00,1.96,1.96,1.91,2.00,1.86,1.90,1.99,1.99

In [6]:
df_p21.rename(columns={'FTHG':'home_goals','FTAG':'away_goals'},inplace=True)

In [7]:
df_p21

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,E0,26/10/2025,14:00,Arsenal,Crystal Palace,1,0,H,1,0,...,1.88,1.98,1.91,2.01,1.88,2.08,1.79,2.00,1.91,2.07
86,E0,26/10/2025,14:00,Aston Villa,Man City,1,0,H,1,0,...,2.00,1.85,2.03,1.89,2.06,1.91,1.98,1.79,2.11,1.89
87,E0,26/10/2025,14:00,Bournemouth,Nott'm Forest,2,0,H,2,0,...,2.00,1.85,2.03,1.89,2.00,1.90,1.92,1.84,2.04,1.95
88,E0,26/10/2025,14:00,Wolves,Burnley,2,3,A,2,2,...,1.93,1.93,1.94,1.98,1.93,1.93,1.88,1.88,2.01,1.98
89,E0,26/10/2025,16:30,Everton,Tottenham,0,3,A,0,2,...,1.85,2.00,1.96,1.96,1.91,2.00,1.86,1.90,1.99,1.99

In [35]:
1==2

False

In [37]:
df_p21['HomeTeam']=='Aston Villa'

0     False
1      True
2     False
3     False
4     False
      ...
85    False
86     True
87    False
88    False
89    False
Name: HomeTeam, Length: 90, dtype: bool

In [8]:
df_p22=c

NameError: name 'c' is not defined

In [9]:
df_p22

NameError: name 'df_p22' is not defined

In [43]:
df_p21['HomeTeam'].value_counts()

HomeTeam
Newcastle         5
Brentford         5
Everton           5
Wolves            5
Chelsea           5
Arsenal           5
Man United        5
Leeds             5
Aston Villa       5
Bournemouth       5
Fulham            4
Crystal Palace    4
Burnley           4
Liverpool         4
Man City          4
Nott'm Forest     4
Tottenham         4
Sunderland        4
Brighton          4
West Ham          4
Name: count, dtype: int64

In [44]:
df_p22.shape

(5, 132)

In [10]:
df_p21[df_p21['HomeTeam']=='Aston Villa'].value_counts('HomeTeam')

HomeTeam
Aston Villa    5
Name: count, dtype: int64

df_p21[df

In [12]:
df_p21[df_p21['HomeTeam'].ne('Aston Villa')].value_counts('HomeTeam')

HomeTeam
Arsenal           5
Everton           5
Newcastle         5
Man United        5
Bournemouth       5
Leeds             5
Chelsea           5
Brentford         5
Wolves            5
Crystal Palace    4
Fulham            4
Burnley           4
Liverpool         4
Man City          4
Brighton          4
Nott'm Forest     4
Sunderland        4
Tottenham         4
West Ham          4
Name: count, dtype: int64

In [13]:
df_p21[df_p21['HomeTeam']!=('Aston Villa')]

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
5,E0,16/08/2025,17:30,Wolves,Man City,0,4,A,0,2,...,1.98,1.88,2.07,1.86,2.04,1.88,1.91,1.81,2.05,1.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,E0,25/10/2025,20:00,Brentford,Liverpool,3,2,H,2,1,...,2.03,1.83,2.08,1.86,2.07,1.90,1.97,1.80,2.11,1.89
85,E0,26/10/2025,14:00,Arsenal,Crystal Palace,1,0,H,1,0,...,1.88,1.98,1.91,2.01,1.88,2.08,1.79,2.00,1.91,2.07
87,E0,26/10/2025,14:00,Bournemouth,Nott'm Forest,2,0,H,2,0,...,2.00,1.85,2.03,1.89,2.00,1.90,1.92,1.84,2.04,1.95
88,E0,26/10/2025,14:00,Wolves,Burnley,2,3,A,2,2,...,1.93,1.93,1.94,1.98,1.93,1.93,1.88,1.88,2.01,1.98
89,E0,26/10/2025,16:30,Everton,Tottenham,0,3,A,0,2,...,1.85,2.00,1.96,1.96,1.91,2.00,1.86,1.90,1.99,1.99

In [20]:
df_p21[df_p21['home_goals']>= 4]

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
15,E0,23/08/2025,17:30,Arsenal,Leeds,5,0,H,2,0,...,2.00,1.85,2.04,1.88,2.00,1.91,1.91,1.85,2.06,1.92
54,E0,27/09/2025,15:00,Man City,Burnley,5,1,H,1,1,...,1.95,1.90,2.03,1.88,1.95,1.98,1.88,1.89,2.05,1.92
83,E0,25/10/2025,17:30,Man United,Brighton,4,2,H,2,0,...,1.98,1.88,2.04,1.88,2.00,1.88,1.95,1.82,2.08,1.91

In [19]:
df_p21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Columns: 132 entries, Div to BFECAHA
dtypes: float64(108), int64(16), object(8)
memory usage: 92.9+ KB

In [21]:
import numpy as np

In [23]:
df_p21['class']=np.where(df_p21['home_goals'] >=4, 'Good', 'Average')

In [28]:
df_p21['home_goals'] >= 4

0      True
1     False
2     False
3     False
4     False
      ...
85    False
86    False
87    False
88    False
89    False
Name: home_goals, Length: 90, dtype: bool

#

In [30]:
df_p21[df_p21['home_goals'] >= 4]

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,class
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86,Good
15,E0,23/08/2025,17:30,Arsenal,Leeds,5,0,H,2,0,...,1.85,2.04,1.88,2.00,1.91,1.91,1.85,2.06,1.92,Good
54,E0,27/09/2025,15:00,Man City,Burnley,5,1,H,1,1,...,1.90,2.03,1.88,1.95,1.98,1.88,1.89,2.05,1.92,Good
83,E0,25/10/2025,17:30,Man United,Brighton,4,2,H,2,0,...,1.88,2.04,1.88,2.00,1.88,1.95,1.82,2.08,1.91,Good

In [31]:
df_p21['class'].value_counts()

class
Average    86
Good        4
Name: count, dtype: int64

In [33]:
df_p21['away_goals']>1

0      True
1     False
2     False
3     False
4     False
      ...
85    False
86    False
87    False
88     True
89     True
Name: away_goals, Length: 90, dtype: bool

In [37]:
df_p21[df_p21['away_goals'] > 1]

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,class
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86,Good
5,E0,16/08/2025,17:30,Wolves,Man City,0,4,A,0,2,...,1.88,2.07,1.86,2.04,1.88,1.91,1.81,2.05,1.94,Average
10,E0,22/08/2025,20:00,West Ham,Chelsea,1,5,A,1,3,...,2.03,2.06,1.87,1.95,2.03,1.85,1.89,2.02,1.96,Average
11,E0,23/08/2025,12:30,Man City,Tottenham,0,2,A,0,2,...,1.87,1.83,2.11,1.87,2.09,1.81,1.95,1.94,2.04,Average
19,E0,25/08/2025,20:00,Newcastle,Liverpool,2,3,A,0,1,...,2.03,1.87,2.07,1.85,2.03,1.83,1.88,1.93,2.06,Average
21,E0,30/08/2025,15:00,Man United,Burnley,3,2,H,1,0,...,1.98,1.89,2.03,1.88,2.05,1.76,1.99,1.90,2.08,Average
24,E0,30/08/2025,15:00,Wolves,Everton,2,3,A,1,2,...,1.98,1.83,2.11,1.88,1.98,1.84,1.86,1.96,2.02,Average
27,E0,31/08/2025,14:00,Nott'm Forest,West Ham,0,3,A,0,0,...,2.03,1.90,2.03,1.84,2.03,1.80,1.94,1.90,2.09,Average
29,E0,31/08/2025,19:00,Aston Villa,Crystal Palace,0,3,A,0,1,...,1.92,1.75,2.21,1.82,2.05,1.74,1.99,1.89,2.11,Average
36,E0,13/09/2025,17:30,West Ham,Tottenham,0,3,A,0,0,...,1.93,2.03,1.89,1.99,1.93,1.94,1.80,2.04,1.95,Average
37,E0,13/09/2025,20:00,Brentford,Chelsea,2,2,D,1,0,...,1.85,2.05,1.88,2.05,1.85,1.98,1.80,2.11,1.89,Average
41,E0,20/09/2025,15:00,Brighton,Tottenham,2,2,D,2,1,...,2.00,2.00,1.93,1.88,2.00,1.84,1.92,1.91,2.08,Average
43,E0,20/09/2025,15:00,West Ham,Crystal Palace,1,2,A,0,1,...,1.95,1.91,2.02,1.90,2.00,1.83,1.90,1.90,2.09,Average
44,E0,20/09/2025,15:00,Wolves,Leeds,1,3,A,1,3,...,1.78,1.99,1.93,2.10,2.10,1.90,1.88,2.13,1.87,Average
51,E0,27/09/2025,15:00,Chelsea,Brighton,1,3,A,1,0,...,1.85,1.92,2.01,2.02,1.95,1.93,1.83,2.08,1.92,Average
53,E0,27/09/2025,15:00,Leeds,Bournemouth,2,2,D,1,1,...,2.10,1.80,2.16,1.83,2.10,1.74,2.01,1.81,2.21,Average
58,E0,28/09/2025,16:30,Newcastle,Arsenal,1,2,A,1,0,...,1.88,2.10,1.84,1.98,1.91,1.91,1.82,2.04,1.95,Average
61,E0,04/10/2025,12:30,Leeds,Tottenham,1,2,A,1,1,...,1.80,2.01,1.92,2.05,1.88,1.99,1.80,2.08,1.91,Average
70,E0,18/10/2025,12:30,Nott'm Forest,Chelsea,0,3,A,0,0,...,2.05,1.93,2.00,1.90,2.05,1.84,1.88,1.92,2.07,Average
73,E0,18/10/2025,15:00,Crystal Palace,Bournemouth,3,3,D,0,2,...,2.00,1.93,1.99,1.85,2.00,1.80,1.96,1.89,2.11,Average
77,E0,19/10/2025,14:00,Tottenham,Aston Villa,1,2,A,1,1,...,1.88,2.00,1.93,1.98,1.91,1.91,1.87,2.02,1.96,Average
78,E0,19/10/2025,16:30,Liverpool,Man United,1,2,A,0,1,...,1.95,1.78,2.15,1.90,2.10,1.80,1.98,1.94,2.04,Average
79,E0,20/10/2025,20:00,West Ham,Brentford,0,2,A,0,1,...,1.83,1.87,2.06,2.03,2.17,1.83,1.95,2.08,1.91,Average
81,E0,25/10/2025,15:00,Chelsea,Sunderland,1,2,A,1,1,...,1.83,2.06,1.87,2.03,1.94,1.91,1.86,2.06,1.92,Average
83,E0,25/10/2025,17:30,Man United,Brighton,4,2,H,2,0,...,1.88,2.04,1.88,2.00,1.88,1.95,1.82,2.08,1.91,Good
84,E0,25/10/2025,20:00,Brentford,Liverpool,3,2,H,2,1,...,1.83,2.08,1.86,2.07,1.90,1.97,1.80,2.11,1.89,Average
88,E0,26/10/2025,14:00,Wolves,Burnley,2,3,A,2,2,...,1.93,1.94,1.98,1.93,1.93,1.88,1.88,2.01,1.98,Average
89,E0,26/10/2025,16:30,Everton,Tottenham,0,3,A,0,2,...,2.00,1.96,1.96,1.91,2.00,1.86,1.90,1.99,1.99,Average

In [39]:
np.where(df_p21['away_goals']>1, 'Big', 'Small')

array(['Big', 'Small', 'Small', 'Small', 'Small', 'Big', 'Small', 'Small',
       'Small', 'Small', 'Big', 'Big', 'Small', 'Small', 'Small', 'Small',
       'Small', 'Small', 'Small', 'Big', 'Small', 'Big', 'Small', 'Small',
       'Big', 'Small', 'Small', 'Big', 'Small', 'Big', 'Small', 'Small',
       'Small', 'Small', 'Small', 'Small', 'Big', 'Big', 'Small', 'Small',
       'Small', 'Big', 'Small', 'Big', 'Big', 'Small', 'Small', 'Small',
       'Small', 'Small', 'Small', 'Big', 'Small', 'Big', 'Small', 'Small',
       'Small', 'Small', 'Big', 'Small', 'Small', 'Big', 'Small', 'Small',
       'Small', 'Small', 'Small', 'Small', 'Small', 'Small', 'Big',
       'Small', 'Small', 'Big', 'Small', 'Small', 'Small', 'Big', 'Big',
       'Big', 'Small', 'Big', 'Small', 'Big', 'Big', 'Small', 'Small',
       'Small', 'Big', 'Big'], dtype='<U5')

In [40]:
df_p21['awayclass']=np.where(df_p21['away_goals']>1,'Big', 'Small')

In [41]:
df_p21

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,class,awayclass
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86,Good,Big
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86,Average,Small
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08,Average,Small
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97,Average,Small
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92,Average,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,E0,26/10/2025,14:00,Arsenal,Crystal Palace,1,0,H,1,0,...,1.91,2.01,1.88,2.08,1.79,2.00,1.91,2.07,Average,Small
86,E0,26/10/2025,14:00,Aston Villa,Man City,1,0,H,1,0,...,2.03,1.89,2.06,1.91,1.98,1.79,2.11,1.89,Average,Small
87,E0,26/10/2025,14:00,Bournemouth,Nott'm Forest,2,0,H,2,0,...,2.03,1.89,2.00,1.90,1.92,1.84,2.04,1.95,Average,Small
88,E0,26/10/2025,14:00,Wolves,Burnley,2,3,A,2,2,...,1.94,1.98,1.93,1.93,1.88,1.88,2.01,1.98,Average,Big
89,E0,26/10/2025,16:30,Everton,Tottenham,0,3,A,0,2,...,1.96,1.96,1.91,2.00,1.86,1.90,1.99,1.99,Average,Big

In [43]:
df_p21['away_goals'].value_counts()

away_goals
1    33
0    29
2    15
3    11
4     1
5     1
Name: count, dtype: int64

In [44]:
df_p21['awayclass'].value_counts()

awayclass
Small    62
Big      28
Name: count, dtype: int64

In [45]:
df_p21.head(5)

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,class,awayclass
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86,Good,Big
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86,Average,Small
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08,Average,Small
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97,Average,Small
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92,Average,Small

In [46]:
df_p21.value_counts('awayclass')

awayclass
Small    62
Big      28
Name: count, dtype: int64

In [49]:
df_p21[(df_p21['class']=='Good') & (df_p21['awayclass']=='Big')]

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,class,awayclass
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86,Good,Big
83,E0,25/10/2025,17:30,Man United,Brighton,4,2,H,2,0,...,2.04,1.88,2.00,1.88,1.95,1.82,2.08,1.91,Good,Big

In [63]:
df_p21['logic']=np.where((df_p21['class']=='Good') & (df_p21['awayclass']=='Big'), True, False)

In [52]:
df_p21

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,class,awayclass,logic
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,1.85,2.03,1.88,1.94,1.76,2.14,1.86,Good,Big,True
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,1.89,2.06,1.80,1.95,1.74,2.14,1.86,Average,Small,False
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,2.00,1.84,2.03,1.80,1.96,1.91,2.08,Average,Small,False
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.95,1.94,1.86,1.78,2.02,1.97,Average,Small,False
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.93,1.98,1.91,1.88,1.83,2.07,1.92,Average,Small,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,E0,26/10/2025,14:00,Arsenal,Crystal Palace,1,0,H,1,0,...,2.01,1.88,2.08,1.79,2.00,1.91,2.07,Average,Small,False
86,E0,26/10/2025,14:00,Aston Villa,Man City,1,0,H,1,0,...,1.89,2.06,1.91,1.98,1.79,2.11,1.89,Average,Small,False
87,E0,26/10/2025,14:00,Bournemouth,Nott'm Forest,2,0,H,2,0,...,1.89,2.00,1.90,1.92,1.84,2.04,1.95,Average,Small,False
88,E0,26/10/2025,14:00,Wolves,Burnley,2,3,A,2,2,...,1.98,1.93,1.93,1.88,1.88,2.01,1.98,Average,Big,False
89,E0,26/10/2025,16:30,Everton,Tottenham,0,3,A,0,2,...,1.96,1.91,2.00,1.86,1.90,1.99,1.99,Average,Big,False

In [64]:
df_p21.value_counts('logic')

logic
False    88
True      2
Name: count, dtype: int64

In [66]:
df_p21[df_p21['logic']==True]

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA,class,awayclass,logic
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,1.85,2.03,1.88,1.94,1.76,2.14,1.86,Good,Big,True
83,E0,25/10/2025,17:30,Man United,Brighton,4,2,H,2,0,...,1.88,2.00,1.88,1.95,1.82,2.08,1.91,Good,Big,True